export RANCHEROS_NET_NAMESERVER1=8.8.8.8
export RANCHEROS_NET_NAMESERVER2=8.8.4.4
export RANCHEROS_NET_DOMAIN=example.com
export RANCHEROS_NET_DOMAIN=example2.com
export RANCHEROS_NET_ETH1_ADDRESS=172.19.8.101/24
export RANCHEROS_NET_ETH1_GATEWAY=172.19.8.1
export RANCHEROS_NET_ETH1_MTU=1460
